*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App_container{
    position: relative;
    background-image: url('src/assets/Hero_Background.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}